html {
    scroll-behavior: smooth;
}
.section {
    max-width: 1280px;
    margin: 0 auto;
    flex-direction: column;
}
main {
    display: flex;
}
.bigblock {
    height: auto;
    background-color: #f9dc98;
    padding: 10px;
}
.nav {
    background-color: #78c2f2;
}
.navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-item {
    list-style: none;
}
.nav-item a {
    text-decoration: none;
    color: #f9dc98;
    font-weight: 600;
}
.nav-item a:hover {
    background-color:darkslategray;
    transition: 0.5s;
}
body {
    font-family: 'Quicksand', sans-serif;
}
h1 {
  padding: 30px 40px 5px;
  text-align: left;
  font-family:'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  color:darkslategray;
  margin: 0;
}
h2 {
    padding: 0px 40px 5px;
    text-align: left;
    font-family:'Quicksand', sans-serif;
    font-size: 30px;
    color:#78c2f2;
    margin: 0;
}
h3 {
    padding: 0px 40px 5px;
    text-align: left;
    font-family:'Quicksand', sans-serif;
    font-size: 25px;
    color:darkgrey;
    margin: 0;
}
h4 {
    font-family:'Quicksand', sans-serif;
    font-size: 20px; 
    text-transform: uppercase;
    padding: 40px 40px 0px;
    text-align: left;
    color: darkslategray;
    margin: 0;
}
ul {
    list-style-type:circle;
    padding: auto;
}
.nonumber {
    list-style-type:none;
}
li {
    text-align: left;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 5px 5px 5px;
}
#newskill {
    color: red;
    
}
.about {
    border-bottom: solid 3px #f9dc98;
}
.about p {
    text-align: left;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    margin-bottom: 20px;
    height: auto;
    width: auto;
    padding: 5px 40px 5px;
    line-height: 1.5;
    text-indent: 20px;
}
.english {
    text-align: left;
    color: darkslategray;
    margin-bottom: 20px;
    height: auto;
    width: auto;
    padding: 0;

}
.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills {
    text-align: left;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    height: auto;
    width: 50%;
    padding: 0; 
}
.workandeducation {
    text-align: left;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 20px;
    height: auto;
    width: 50%;
    padding: 0;
}
.pic {
    border-radius: 50%;
    float: right;
    padding: 40px;
}
p, b {
    display: block;
    text-align: left;
    color: darkslategray;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    height: auto;
    width: auto;
    padding: 5px 40px 5px;
    line-height: 1.5;
}
pre {
    margin: 0;
}
.code {
    text-align: left;
    background-color: gainsboro;
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.flexcont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a {
    display: block;
}
li a {
    color: darkslategray;
}
footer a {
    color: darkslategray;  
}
.footer {
    height: auto;
    background-color: #f9dc98;
    padding: 10px;
}